###[ Current settings for pagekite.py v1.5.2.201011. ]#########
#
## NOTE: This file may be rewritten/reordered by pagekite.py.
#

##[ Default kite and account details ]##
kitename   = <PAGEKITE_DNS>
kitesecret = <PAGEKITE_SECRET>

##[ Front-end settings: use pagekite.net defaults ]##
defaults

##[ Back-ends and local services ]##
service_on  = http-8081:@kitename              : localhost:8081    : @kitesecret
service_on  = http:@kitename                   : localhost:80      : @kitesecret





##[ Miscellaneous settings ]##
savefile = /home/root/.pagekite.rc
max_read_bytes = 16256x3.100

###[ End of pagekite.py configuration ]#########
END
